<div class="em-top-navbar">
  <% if signed_in? %>
    <p>You are logged in</p>
  <% else %>
    <div class="col-md-2 col-md-offset-5 em-element">
      <%= link_to "Log In"  , signin_path,   { class: "em-top-links em-f em-left", style: "color:white" } %>
      <%= link_to "Register", register_path, { class: "em-top-links em-f em-right", style: "color:orange"} %>
    </div>
  <% end %>
</div>
