<% content_for :title do %>About Us<% end %>
<% content_for :description do %>This page will display information about our online ordering site.
n<% end %>

<h1>About Us</h1>
<p>
  This section will include information about our website.
</p>
