<% provide(:title, "Contact Us") %>
<div>
<br/>
<br/>
  <h1>Contact Us</h1>
    <div>
    <strong>Address:</strong><br/> 
      <p>
          1510 Blake st.
          Denver, CO 80123
      </p>
    <strong>Phone:</strong>
      <p>
        1(800).ICE.SCRM
      </p>
    <strong>Email:</strong>
      <p>
        icy@screamncream.com
      </p>
    <strong>Hours:</strong>
      <p>
        <i>Everyday:</i>
          <p>
            10:00am - 2:00am
          </p>
      </p>
    </div>
</div>
