<% content_for :title do %>About Us<% end %>
<% content_for :description do %>This page will display information about our online ordering site.
n<% end %>

<div class="container">
<div class="jumbotron">
  <h1>Scream n' Cream</h1>
  <p>Because everything is better with booze!</p>
  <p><a class="btn btn-primary btn-lg" href="/items" role="button">Order Now!</a></p>
</div>
</div>
<% if notice %>
  <%= notice %>
<% end %>
<br />
<div class="row">
            <div class="span12">
                <h3>Latest Features</h3>

            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="span4 hero-feature">
                <div class="thumbnail">
                    <img src="/public/uploads/item/image/13.jpg" alt="feature 1">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="span4 hero-feature">
                <div class="thumbnail">
                    <img src="/public/uploads/item/image/9.jpg" alt="feature 2">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            </div>
        </div>
