<div class="em-home-basic-background">
    <!-- <p class="em-home-employme text-center em-element">EmployMe!</p> -->
    <div class="col-md-6 em-element em-dark-side">
      <div class="em-element  em-f" style="margin-top:-200px;">
        <p class="text-center em-title">Real Jobs for the best people.</p>
        <p class="col-md-8 col-md-offset-2 text-center em-notes lead em-white">
          “The future belongs to those who believe in the beauty of their dreams.”
          <br>
          <small>Eleanor Roosevelt</small>
          <br>
          <br>
          <%= link_to "Browse current job listings", listings_path, class:"btn btn-warning btn-lg" %>
        </p>
      </div>
    </div>


</div>
