<div class="em-wrapper">
  <div class="em-home-background">
    <!-- <p class="em-home-employme text-center em-element">EmployMe!</p> -->
  </div>

  <div class="container">
    <div class="col-md-8 col-md-offset-2 em-search-box">
      <input class="em-home-search em-f" placeholder="Search:" autofocus>
      <p class="text-right em-search-directions">
        Search by company name or job title.
      </p>
    </div>
  </div>
  <div class="em-full-width">
    <div class="em-element text-center">
      <a href="#" class="btn btn-default btn-lg">Just show me all the listings</a>
      <a href="#" class="btn btn-warning btn-lg">Let's find my job</a>
    </div>
  </div>
</div>
