<% if notice %>
  <%= notice %>
<% end %>

<% if current_user %>
  <div id="the_gravatar"><%= gravatar_for @user %></div> #This div is required to Gravatar.
  <%= "Hi #{current_user.first_name}!" %></p>
  <%= @cart.total_items %>
<% end %>
