<% if notice %>
  <%= notice %>
<% end %>

<div class="jumbotron">
  <h1> EmployMe </h1>
  <h3 class="text-muted">find your next great opportunity</h3>
    <a class="btn btn-primary"<%= link_to "Browse current job listings", listings_path %></a>
    <% unless signed_in? %>
    <a align="right" class="btn btn-primary"<%= link_to "Register Now", new_user_path %></a>
  <% end %>

</div>
