<% content_for :title do %>About Us<% end %>
<% content_for :description do %>This page will display information about our online ordering site.
n<% end %>

<div class="container">
<div class="jumbotron">
  <h1>Scream n' Cream</h1>
  <p>Because everything is better with booze!</p>
  <p><a class="btn btn-primary btn-lg" href="/items" role="button">Order Now!</a></p>
</div>
</div>
