<% content_for :title do %>About Us<% end %>
<% content_for :description do %>This page will display information about our online ordering site.
n<% end %>

<div><h1>Scream n' Cream</h1>
<h3>Because Everything is Better with Booze</h3></div>
<p>
  Scream  n' Cream specializes in unique ice cream features Bold
  flavors for 21+ customers.
</p>
<a href="#" class="btn btn-large btn-primary">Order now!</a>
