<% if flash[:alert] %>
   <div class="alert alert-danger">
     <% flash[:alert].each do |error| %>
       <%= error %>  
     <% end %>
   </div>
<% end %>

<div class="back_color" style="height:1400px; padding-top:100px">

  <div class="container">
  <h1 class='text-center'>Create a new listing</h1>
  <%= render :partial => 'form' %>
  </div>

</div>
