

  <div class="container">
    <% if flash[:alert] %>
       <div class="alert alert-danger">
         <% flash[:alert].each do |error| %>
           <%= error %>  |
         <% end %>
       </div>
    <% end %>
 <div class="back_color">
    <p class="form_title text-center">Open your door to the right people.</p>
    <p class="lead text-center">Stop searching. Show yourself and let them come.</p>

      <div class="text-center door"></div>
   </div>
   <div class="container">

    <div class="col-md-8 col-md-offset-2 the_form">
      <%= render :partial => 'form' %>
    </div>

    <p class=" text-center special_font_sq note_sq col-md-2">
      To start receving applications, just register your company and publish your job opportunities
    </p>

  </div>

</div>
<div class="down_image"></div>
