<div class="container">
  <h1>Does everything look alright?</h1>
  <p>
    This page should be all about displaying the info, so the user can confirm the order.
  </p>

<% if @order.errors.any? %>
  <%= pluralize(@order.errors.count, "error") %>
  prohibited this order from being saved:

  <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </ul>
<% end %>

<%= form_for(@order) do |f| %>
  <%= f.submit 'Complete Order', class: "btn btn-warning"%>
<% end %>
</div>
