<div class="em-footer-bar">
  <% if signed_in? %>
    <p>You are logged in</p>
  <% else %>
    <div class="container text-right em-element">
      <%= link_to "Contact"  , signin_path,   { class: "em-footer-links em-f ", style: "color:white" } %>
      <%= link_to "Terms of Use", "/terms-of-use", { class: "em-footer-links em-f ", style: "color:orange"} %>
    </div>
  <% end %>
</div>
